<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Biblioteca Egg</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div>
                <h2>Carga el Autor aquí!</h2>
            </div>
        </header>
        <div>
            <form th:action="@{/autor/registro/}" method="POST">
                <div>
                    <input type="text" name="nombre" placeholder="Nombre del Autor">
                </div>
                <button type="submit">Guardar</button>
            </form>
            
            <div th:if="${exito}!=null">
                <div>
                    <h5>Exito!</h5>
                    <p th:text="${exito}"></p>
                </div>
            </div>
            
            <div th:if="${error}!=null">
                <div>
                    <h5>Error 👎</h5>
                    <p th:text="${error}"></p>
                </div>
            </div>
            
            <section>
                <div>
                    <div>
                        <a th:href="@{/}">Volver</a>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>